.player img {
    width: 100px; /* Tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace la imagen circular (opcional) */
    border: 2px solid #000; /* Borde para destacar (opcional) */
}

.player p {
    text-align: center;
    font-weight: bold;
    color: white;
}

#circle {
    width: 100px;         
    height: 100px;        
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}